<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Beer Trader</h1>

	<ul id= "list"></ul>

	<h4>Add a beer</h4>

	<p>name: <input type="text" id="name"></p>

	<p>abv: <input type="text" id="abv"></p>

	<button id="add-order">Add!</button>



		<script
  	src="https://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>
    <script src="../public/scripts/app.js"></script>
</body>
</html>