body {
	background-image: url("../beer.jpg");
}

.dark {
	color: purple;
}

.navbar {
	text-align: center;
	background-color: #ffcc00;
	font-family: 'Maven Pro 900', sans-serif, Helvetica;
	font-weight: 700px;
}

.navbar-brand {
	font-size: 32px;
	padding-left: 120px;

}

.bg-dark {

}