body {
	background-image: url("../beer.jpg");
	background-size: cover; 
	background-repeat: no-repeat;;
}

.navbar {
	text-align: center;
	background-color: #f7c138;
	font-family: 'Maven Pro 900', sans-serif, Helvetica;
	font-weight: bold;
}

.navbar-brand {
	font-size: 32px;
	padding-left: 120px;

}

.nav-link {
	margin-left: 500px;
}